form {
    display: block;
    width: 350px;
    margin: 5rem auto;
    border: 1px solid #ccc;

    input {
        display: block;        
        width: 200px;
        border: 1px solid #ccc;
        padding: 0.4rem;
        margin: 1.5rem auto;
        font-family: Quicksand, sans-serif;
        font-size: 1rem;
    }

    p {
        margin-top: 1rem;
        text-align: center;
    }

    .btn {
        display: block;
        margin: 1rem auto;
    }

    ul {
        list-style-type: none;

        li {
            display: inline;
        }
    }

    small {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}



