<div class="container-fluid">
    <div class="row">
        <div class="col"></div>

        <div class="col-3">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" required name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" required name="password" [(ngModel)]="password">
                        </div>

                        <div class="d-grid">
                          <button type="button" class="btn btn-warning mb-3" (click)="login()">Login</button>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Need account?
                                <a routerLink="/signup"><span class="text-danger">Register</span></a>
                            </div>
                        </div>



                        <p class="card-title text-center mt-3">Sign in with</p>


                        <div class="card-group">
                            <div class="card">                              
                              <div class="card-body">
                                <a (click)="signInWithGoogle()">
                                    <img src="../../assets/icons8-google-48.png" alt="google icon"  height="24px" width="24px"> Google
                                </a>
                              </div>
                            </div>
                            <div class="card">                              
                              <div class="card-body">
                                <a (click)="signInWithFacebook()">
                                    <img src="../../assets/icons8-facebook-48.png" alt="Facebook icon" height="24px" width="24px"> Facebook
                                </a>
                              </div>
                            </div>
                            <div class="card">                              
                              <div class="card-body">
                                <a (click)="signInWithGithub()">
                                    <img src="../../assets/icons8-github-48.png" alt="VK icon" height="24px" width="24px"> Github
                                </a>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        
        <div class="col"></div>
    </div>    
</div>