<div class="container-fluid">

  <div class="row">
    <div class="col"></div>

    <div class="col-6">
      <div *ngIf="isError" class="alert alert-danger alert-dismissible" role="alert">
        <div>{{errorMessage}}</div>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
      </div>
    </div>

    <div class="col"></div>    
  </div>  

    <div class="row">
        <div class="col"></div>

        <div class="col-4">
            <div class="card shadow mt-3">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="userEmail" #email="ngModel" required email>
                          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">Please, enter an email</div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="userPassword" #password="ngModel" required minlength="4">
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">Please, enter a password</div>
                        </div>

                        <div class="d-grid">
                          <button [disabled]="email.invalid || password.invalid" type="button" class="btn btn-warning mb-3" (click)="login()">Login</button>
                        </div>

                        <div class="row">
                          <div class="col">Need account?
                            <a routerLink="/signup"><span class="text-danger">Register</span></a>
                          </div>
                        </div>
                        
                        <p class="card-title text-center mt-3">Sign in with</p>

                        <div class="button-group-vertical d-grid">
                          
                          <button type="button" class="btn btn-outline-dark mb-1" (click)="signInWithGoogle()">
                            <img src="assets/icons8-google-48.png" alt="google icon">
                             Google
                          </button>                           
                                                          
                          <button type="button" class="btn btn-outline-dark mb-1" (click)="signInWithFacebook()">
                            <img src="assets/icons8-facebook-48.png" alt="Facebook icon">
                             Facebook                            
                          </button>                           
                                                          
                          <button type="button" class="btn btn-outline-dark" (click)="signInWithGithub()">
                            <img src="assets/icons8-github-48.png" alt="VK icon">
                             Github
                          </button>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        
        <div class="col"></div>
    </div>    
</div>